
.card-serie{
    max-width: 180px;
    min-width: 150px;
    margin: 5px;
}

.card-serie img{
    max-height: 180px;
}

.card-serie .card-footer, .card-header{
    padding: 8px;
    font-size: 12px;
}



.card-body-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}